@font-face {
  font-family: 'blenda';
  src: url('../fonts/blenda_script-webfont.eot');
  src: url('../fonts/blenda_script-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/blenda_script-webfont.woff') format('woff'),
       url('../fonts/blenda_script-webfont.ttf') format('truetype'),
       url('../fonts/blenda_script-webfont.svg#blenda_scriptregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.logo-font, .navbar .navbar-brand {
  font-family: blenda;
}

.navbar .navbar-brand {
  font-size: 24pt;
  color: red;
}

.navbar {
  background-color: #f3f3f3;
}

.navbar .nav.navbar-nav {
  float: right;
}

.navbar .nav.navbar-nav li a {
}

a { color: #f00;}
a:hover { color: #d11; }

h4 { margin-top: 24px; }

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/*-----------------------------------------------------------------------------
Landing Styles
-----------------------------------------------------------------------------*/

body.landing #banner {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#banner h1 {
  color: white;
  font-size: 72px;
}

body.landing #landing #banner img {
  display: block;
  margin: 10px auto;
}

body.landing #landing #banner p {
  color: #efefef;
  font-size: 20pt;
  text-align: left;
  margin-bottom: 30px;
}

body.landing #landing #banner p .btn {
  font-size: 16pt;
  color: rgba(237,28,36,1);
}

body.landing #overview {
  /*height: 320px;*/
  padding: 80px 0;
  background: #f9f9f9;
  border-bottom: 1px solid #f0f0f0;
}

body.landing #overview img {
  width: 50%;
}


body.landing #landing h2, 
body.landing #landing p {
  text-align: center;
}

body.landing #banner {
  background: rgb(237,28,36); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(237,28,36,1) 0%, rgba(193,39,32,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,28,36,1)), color-stop(100%,rgba(193,39,32,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(193,39,32,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(193,39,32,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(237,28,36,1) 0%,rgba(193,39,32,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(237,28,36,1) 0%,rgba(193,39,32,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1c24', endColorstr='#c12720',GradientType=0 ); /* IE6-9 */
  margin-top: -20px;
  /*min-height: 440px;*/
}

body.landing .explore {
  font-family: blenda;
  font-size: 32pt;
  margin: 40px 0;
}

body.landing .plot-display .epoch {
  width: 80%;
  height: 190px;
  margin: 20px auto;
}

body.landing #pie.epoch {
  width: 190px;
}

body.landing .plot-display-row .col-md-4 .plot-display a {
  display: block;
  margin: 0 0 20px 0;
  font-size: 18pt;
}

body.landing #rt-area.epoch .area {
  stroke: rgba(0, 0, 0, 0);
}

body.landing #rt-heatmap.epoch .a .bucket {
  fill: #ff7f0e;
}

body.landing .plot-display-row .col-md-4 .plot-display {
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

body.landing #footer {
  background-color: #f9f9f9;
  margin: 60px 0 0 0;
  padding: 40px 0;
  border-top: 1px solid #f0f0f0;
}

body.landing #footer #social {
  width: 380px;
  margin: 0 auto 30px auto;
}

body.landing #footer #social iframe {
  float: left;
  margin-bottom: 12px;
}


/*-----------------------------------------------------------------------------
Docs Styles
-----------------------------------------------------------------------------*/

body.docs #banner {
  margin-top: -20px;
  min-height: 220px;
  margin-bottom: 20px;
}

body.docs #banner h1 {
  color: white;
  font-size: 48pt;
  margin-top: 35px;
}

body.docs #banner p {
  color: #ddd;
  font-size: 16pt;
}

body.docs h3 {
  margin-top: 48px;
  margin-bottom: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid #ccc;
}

/*
body.docs #nav {
  background-color: #e7e7e7;
  height: 55px;
  margin-top: -20px;
}
*/


body.docs #nav.affix {
  width: inherit;
  top: 20px;
}

body.docs #nav li {
  border-left: 4px solid transparent;
}

body.docs #nav.affix li a {
  width: inherit;
}

body.docs #nav li.active {
  border-left: 4px solid red;
}

body.docs #nav-dummy {
  /*display: none;*/
}

#basic-pie-example, #basic-donut-example {
  display: inline-block;
}

.btn-clipboard-container {
  position: relative;
}

.btn-clipboard {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: block;
  padding: 5px 8px;
  font-size: 12px;
  color: #777;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
}

span.btn-clipboard.zeroclipboard-is-hover {
  color: #fff;
  background-color: #ff0000;
  border-color: #cc0000;
}
