/*
 * Fastly Charts Base CSS
 * By Ryan Sandor Richards
 * Copyright 2013 Fastly, Inc.
 *
 */

.epoch {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Axes and Ticks
.epoch {
  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis.canvas .tick line {
    shape-rendering: geometricPrecision;
  }

  .axis .tick text {
    font-size: 9pt;
  }
}

// Line Charts
.epoch .line {
  fill: none;
  stroke-width: 2px;
}

.epoch.sparklines .line {
  stroke-width: 1px;
}


// Area Charts
.epoch .area {
  stroke: none;
}

// Pie Charts
.epoch {
  .arc.pie {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  .arc.pie text {
    stroke: none;
    fill: white;
    font-size: 9pt;
  }
}

// Gauge Charts
.epoch .gauge-labels {
  .value {
    text-anchor: middle;
    font-size: 140%;
    fill: #666;
  }
}

.epoch.gauge-small {
  width: 180px; height: 135px;
}

.epoch.gauge-medium {
  width: 240px; height: 180px;
}

.epoch.gauge-large {
  width: 320px; height: 240px;
}

.epoch .gauge {
  .arc.outer {
    stroke-width: 4px;
    stroke: #666;
  }
  .arc.inner {
    stroke-width: 1px;
    stroke: #555;
  }
  .tick {
    stroke-width: 1px;
    stroke: #555;
  }

  .needle {
    fill: orange;
  }

  .needle-base {
    fill: #666;
  }
}

// Categorical Colors
@mixin category-colors($list, $entries) {
  @for $i from 1 through $entries {
    .category#{$i} {
      .line { stroke: nth($list, $i); }
      .area, .dot { fill: nth($list, $i); }
    }
    .arc.category#{$i} path {
      fill: nth($list, $i);
    }
    .bar.category#{$i} { 
      fill: nth($list, $i);
    }
  }
}

$category10:
  #1f77b4, #ff7f0e, #2ca02c, #d62728, #9467bd,
  #8c564b, #e377c2, #7f7f7f, #bcbd22, #17becf;

.epoch, .epoch.category10 {
  @include category-colors($category10, 10);
}

$category20:
  #1f77b4, #aec7e8, #ff7f0e, #ffbb78, #2ca02c,
  #98df8a, #d62728, #ff9896, #9467bd, #c5b0d5,
  #8c564b, #c49c94, #e377c2, #f7b6d2, #7f7f7f,
  #c7c7c7, #bcbd22, #dbdb8d, #17becf, #9edae5;

.epoch.category20 {
  @include category-colors($category20, 20);
}

$category20b:
  #393b79, #5254a3, #6b6ecf, #9c9ede, #637939,
  #8ca252, #b5cf6b, #cedb9c, #8c6d31, #bd9e39,
  #e7ba52, #e7cb94, #843c39, #ad494a, #d6616b,
  #e7969c, #7b4173, #a55194, #ce6dbd, #de9ed6;

.epoch.category20b {
  @include category-colors($category20b, 20);
}

$category20c:
  #3182bd, #6baed6, #9ecae1, #c6dbef, #e6550d,
  #fd8d3c, #fdae6b, #fdd0a2, #31a354, #74c476,
  #a1d99b, #c7e9c0, #756bb1, #9e9ac8, #bcbddc,
  #dadaeb, #636363, #969696, #bdbdbd, #d9d9d9;

.epoch.category20c {
  @include category-colors($category20c, 20);
}

// Canvas Styles Reference Container
div#_canvas_css_reference {
  width: 0;
  height: 0;
  position: absolute;
  top: -1000px;
  left: -1000px;
  svg {
    position: absolute;
    width: 0;
    height: 0;
    top: -1000px;
    left: -1000px;
  }
}
