<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Epoch - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/epoch.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/site.css">

        <script src="{{ site.baseurl }}js/jquery.js"></script>
        <script src="{{ site.baseurl }}js/bootstrap.min.js"></script>
        <script src="{{ site.baseurl }}js/d3.js"></script>
        <script src="{{ site.baseurl }}js/epoch.js"></script>
        <script src="{{ site.baseurl }}js/data.js"></script>
    </head>
    <body class="docs">
      {% include header.html %}
      
      <div class="container">
        <div class="row">
          <div id="content" class="col-md-9">
            {{ content }}
          </div>
          <div id="nav" class="col-md-3">
            {% include {{page.nav}} %}
          </div>
        </div>

        <div id="footer" class="row">
          <div class="col-md-12">
            <p class="text-center"><small>Copyright &copy; <span class="year"></span> Fastly, Inc.</small></p>
          </div>
        </div>
      </div>

      <script src="/js/site.js"></script>
    </body>
</html>
